/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 20px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 58px;
  color: #fff;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin: 0;
  flex-basis: 30%; /* Adjust this as necessary */
}

.input-field {
  flex-grow: 1;
  text-align: right;
}

.input-field input,
.input-field select {
  width: 100%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Additional Styles for Sections ------- */

#about,
#ideas,
#host {

  align-items: center;
  text-align: left;
}

#about img,
#ideas img,
#host img {
  display: flex;
  margin: 0 auto 10px;
  width: 100%; /* Adjust the width as desired */
  height: auto; /* Maintain aspect ratio */
}

/* ------- Media query: Desktop view ------- */

@media all and (min-width: 480px) {
  body {
    margin: 0 auto;
    max-width: 3000px;  /* New line - Sets max width of the body content */
  }

  /* -------  Navigation ------- */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 24px; /* Adjust size as needed */
    margin-bottom: 10px;
  }

  header nav ul {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }

  header nav ul li {
    margin-right: 20px;
  }

  header nav ul li:last-child {
    margin-right: 0;
  }

  /* -------  Search Form ------- */

  .form-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .form-container {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  .form-group {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: flex-start;
  }

  .form-group:last-child {
    margin-right: 0;
  }

  .form-group label {
    margin-bottom: 10px;
    align-self: flex-start;
  }

  .input-field {
    flex-grow: 0;
  }

  .input-field input,
  .input-field select {
    width: 100%;
  }

  form button {
    width: auto;
    padding: 10px 20px;
  }

  /* ------- About ------- */

  #about .about-content {
  display: flex;
  flex-direction: row;
  }

  #about .about-content img {
    width: 24%;
    height: auto;
    margin-right: 20px;
  }

  #about .about-content p {
    flex: 1 1 60%;
    width: 5%;
    margin-left: 20px; /* Add this line */
    margin-top: 50px;
  }

  /* ------- Ideas ------- */

  #ideas {
    text-align: center;
  }
  
  #ideas .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  #ideas .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #ideas .item img {
    width: 100%;
    height: auto;
  }
  
  #ideas h3 {
    margin-top: 10px;
  }

/* ------- Hosts ------- */

  #host {
    display: flex;
    justify-content: left;
  }

  .host-container {
    display: flex;
    text-align: center;
  }

  .host-content {
    text-align: left;
    flex: 1;
    margin-bottom: 20px;
    margin-top: 80px;
    margin-right: 0;
  }

  .host-image {
    flex: 1;
  }

  .host-image img {
    display: flex;
    width: 100%;
    height: auto;
  }

}

